---
title: hyperloop
layout: default
---
<div class="parallax">
	<div class="header-area">
		<h1 class="bold text--x-big text--dark-grey">
			Propel Digital Operations through Hyper-Automation
		</h1>
		<div class="copy-area">
			<p>
				Rapidly realize the value Intelligent Automation delivers by treating your program as a continuous journey that accelerates and expands with each new cycle. The most successful automation programs go through hyperloops of activity – infinite cycles – to identify best practices and create an industrialized approach to digitizing operations with the same goal in mind:
			</p>
			<p class="bold text--blue">
				Do something, do something better, do something different.
			</p>
		</div>
	</div>
	<div class="body-area flexbox">
		<div id="hyperloop" class="img-container slick-dots-container" data-value="0">
			<img style="opacity: 0" src="images/symphony-hyperloop.png">
			<div class="hyperloop-image">
				<img id="layer-1" class="parallax__layer parallax__layer--base" src="images/outer-loop.png">
				<img id="layer-2" class="parallax__layer parallax__layer--back" src="images/inner-loop.png">
				<img src="images/main-loop.png" class="parallax__layer">
			</div>
			<div class="active-dot">
				<div class="active-dot--inner"></div>
			</div>
		</div>
		<div class="slick-dots-container mobile"></div>
		<div class="slides">
			{% for slide in site.data.slides %}
				<div class="box-container">
					<p class="bold text--big text--pink">{{ slide.title }}</p>
					<p class="text--small text--light-grey">
						{{ slide.body }}
					</p>
				</div>
			{% endfor %}
		</div>
	</div>
</div>