@mixin pivot($deg) {
	& {
		transform: rotate($deg + deg);
	}
	&:before {
		transform: rotate(-$deg + deg);
		@if ($deg <= 90 and $deg >= 72) {
			padding-right: 0;
		}
		@if ($deg >= 255 and $deg <= 288) {
			padding-left: 0;
		}
	}
}
@mixin center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
@mixin fill {
	width: 100%;
	height: 100%
}