@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300;400;800&display=swap');
@import 'mixins';

/* Variables */
$primary-text-color: #484748;
$light-grey: #939598;
$pink: #FF4674;
$navy: #2A4870;
$blue: #039BE5;
$primary-font: 'Muli', sans-serif;

body,
html {
	margin: 0;
	overflow-x: hidden;
	text-align: center;
	font-family: $primary-font;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}
body {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
}
div {
	display: block;
}
h1, h2, h3, h4, h5, p, ol, ul {
	margin-bottom: 0; /* Reset */
	margin-right: 0;
	margin-left: 0;
	margin-top: 0;
}
button {
	-webkit-appearance: none;
	padding: 0;
}
.container {
	width: 90%;
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
	padding: 57px 0 162px;
}
.desktop {
	display: none;
}
.img-container {
	margin: 32px 0;
	img {
		width: 100%;
		height: auto;
	}
}
p {
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 28px;
}
ul {
	margin-bottom: 28px;
}
.bold {
	font-weight: 600;
}
/* Text Sizes */
.text {
	&--x-big {
		font-size: 40px;
		line-height: 48px;
		margin-bottom: 32px;
	}
	&--big {
		font-size: 18px;
		line-height: 28px;
	}
	&--small {
		font-size: 14px;
		line-height: 20px;
	}
/* Text Colors */
	&--dark-grey {
		color: $primary-text-color;
	}
	&--light-grey {
		color: $light-grey;
	}
	&--blue {
		color: $blue;
	}
	&--pink {
		color: $pink;
	}
	&--light-pink {
		color: $pink;
		opacity: .2;
	}
}
.header-area {
	h1 {
		max-width: 875px;
		margin-left: auto;
		margin-right: auto;
	}
}
.copy-area {
	margin-bottom: 51px;
}
/* Slick */
.slides {
	z-index: 999;
	overflow: hidden visible;
	.text {
		&--big {
			margin-bottom: 11px;
		}
		&--small {
			margin-bottom: 0;
		}
	}
}
.slick {
	&-dots-container {
		&.mobile {
			li {
				margin: 5px;
			}
		}
	}
	&-dots{
		max-width: 90%;
		margin: 0 auto;
		display: flex;
		padding: 0;
		list-style: none;
		justify-content: center;
		align-items: center;
		li {
			button {
				height: 12px;
				width: 12px;
				border-radius: 12px;
				background-color: $pink;
				opacity: .2;
				color: transparent;
				border: none;
				cursor: pointer;
				-webkit-appearance: none;
				outline: none;
				transition: opacity .2s ease;
				z-index: 1;
			}
			&.slick-active button {
				opacity: 1;
			}
		}
	}
	&-slide {
		position: relative;
		margin: 21px;
		padding: 0 10px;
		background-color: #fff;
		box-shadow: 0 0 20px #0000001F;
		>div {
			padding: 33px 0;
			height: 100%;
			.box-container {
				height: 100%;
				.text--small {
					padding: 0 10px;
					height: 67px;
					overflow: auto;
					&::-webkit-scrollbar {
					    -webkit-appearance: none;
					}
					&::-webkit-scrollbar:vertical {
					    width: 4px;
					}

					&::-webkit-scrollbar:horizontal {
					    height: 4px;
					}

					 /* Handle */
					 &::-webkit-scrollbar-thumb {
					   -webkit-border-radius: 10px !important;
					   border-radius: 10px !important;
					   background: $light-grey !important; 
					 }
				}
			}
		}
		/* Slide nav styles */
		.nav {
			position: absolute;
			display: flex;
			justify-content: center;
			bottom: 12px;
			left: 0;
			padding: 0;
			height: 21px;
			width: 100%;
			#up, #down {
				height: 21px;
				width: 21px;
				color: $light-grey;
				transform: rotate(90deg);
				cursor: pointer;
				transition: transform .2s ease;
				&:hover {
					transform: scale(1.2) rotate(90deg);
				}
				&:active {
					transform: scale(.9) rotate(90deg);
				}
			}
		}
	}
}
/* Hyperloop style */
/* Hyperloop parallax */
#hyperloop {
	max-width: 378px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 51px;
	&:active .parallax__layer {
		&--base {
			transform: rotate(2deg);
		}
		&--back {
			transform: rotate(-2deg);
		}
	}
	.parallax__layer {
	    position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    transition: transform .4s ease;
	    @media screen and (min-width: 768px) {
			&--base {
			  transform: translateZ(.025px) scale(0.975);
			}
			&--back {
			  transform: translateZ(.05px) scale(0.95);
			}
		}
	}
	&.slick-dots-container {
		position: relative;
		 ul {
			margin: 0;
			li {
				position: absolute;
				height: 30px;
				width: 30px;
				max-width: 4vw;
				max-height: 4vw;
				display: flex;
				justify-content: center;
				align-items: center;
				cursor: pointer;
				button {
					background-color: transparent;
					opacity: 1;
					position: relative;
					padding: 0;
					@include fill;
					&:after {
						@include center;
						content: "";
						display: block;
						background-image: url(../images/web_heart_animation.png);
						opacity: 1;
						box-sizing: border-box;
						width: 35px;
						height: 40px;
					    background-position: bottom left;
					    background-repeat: no-repeat;
					    background-size: 2900%;
					    z-index: 999;
					}
				}
				&.slick-active {
					button:after {
					    animation: heart-burst .8s steps(28) 1;
					    animation-fill-mode: forwards;
					}
				}
				&:hover {
					transition: none;
						button:after {
						background-position: center right;
					}
				}
			}
		}
	}
}
/* Style for using traveling active dot */
.active-dot {
	position: absolute;
	height: 3vw;
	width: 3vw;
	z-index: 999;
	transition: all .2s ease;

	.active-dot--inner {
		&:after {
			content: "";
			@include center;
			width: 21px;
			height: 21px;
			max-width: 6vw;
			max-height: 6vw;
			border-radius: 50%;
			box-shadow: 0 0 12px #0000001f;
			border: 2px solid #fff;
			background-color: $pink;
			box-sizing: border-box;
		}
	}
}
/* Animations */
@keyframes heart-burst {
  from {background-position:left;}
  to { background-position:right;}
}
/* Hyperloop dot positioning */
#hyperloop.slick-dots-container {
	&[data-value="0"] .active-dot,
	li:nth-child(1) {
		top: 7%;
		right: 81.5%}
	&[data-value="1"] .active-dot,
	li:nth-child(2) {
	    top: 38%;
	    left: 7%;
	}
	&[data-value="2"] .active-dot,
	li:nth-child(3) {
	    top: 59%;
	    left: 14.5%;
	}
	&[data-value="3"] .active-dot,
	li:nth-child(4) {
		top: 70%;
	    left: 26%;
	}
	&[data-value="4"] .active-dot,
	li:nth-child(5) {
	    top: 71.5%;
	    left: 40%;
	}
	&[data-value="5"] .active-dot,
	li:nth-child(6) {
	    top: 66%;
	    left: 53%;
	}
	&[data-value="6"] .active-dot,
	li:nth-child(7) {
		top: 54%;
	    left: 76%;
	}
	&[data-value="7"] .active-dot,
	li:nth-child(8) {
	    top: 65%;
	    left: 90%;
	}
	&[data-value="8"] .active-dot,
	li:nth-child(9) {
	    top: 83.5%;
	    left: 80%;
	}
	&[data-value="9"] .active-dot,
	li:nth-child(10) {
	    top: 11%;
	    left: 37%;
	}
}
@media screen and (min-width: 540px) and (max-width: 900px) {
	#hyperloop.slick-dots-container ul li {
		width: auto;
		height: auto;
	}
	#hyperloop.slick-dots-container ul li button:after {
		width: 6vw;
		height: 6vw;
	}
	.active-dot {
		height: 3vw;
		width: 3vw;
	}
}
@media screen and (min-width: 768px) {
	.container {
		padding-top: 91px;
	}
	.mobile {
		display: none;
	}
	.desktop {
		display: initial;
	}
	.header-area {
		margin-bottom: 110px;
	}
	.flexbox {
		display: flex;
		flex-direction: column-reverse;
	}
	p {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 28px;
	}
	.copy-area p {
		font-size: 21px;
		line-height: 28px;
	}
	.text {
		&--x-big {
			font-size: 56px;
			line-height: 66px;
			margin-bottom: 52px;
		}
		&--big {
			font-size: 20px;
			line-height: 25px;
		}
		&--small {
			font-size: 16px;
			line-height: 22px;
		}
	}
	.slides {
	    margin-left: 100%;
	    margin-bottom: -25%;
	    transform: translateX(calc(-100% + 28px));
	    width: 50%;
	    .slick-slide {
		    .text {
		    	&--big {
			    	font-size: 18px;
			    	line-height: 28px;
			    }
		    	&--small {
		    		margin-bottom: 0;
		    		z-index: 999;
			    }
		    }
		}
	}
	#hyperloop {
		max-width: 850px;
		margin-left: 0;
		margin-top: 51px;
		.active-dot {
			width: 30px;
			height: 30px;
			&--inner:after {
				height: 30px;
				width: 30px;
				border-width: 3px;
			}
		}
		&.slick-dots-container ul li {
			flex-direction: column;
			justify-content: flex-end;
			.line {
				height: 60px;
				width: 50%;
				margin-right: 50%;
				border-right: 1px dashed $navy;
				flex: 1 0 auto;
			}
			&:hover,
			&.slick-active {
				.line,
				&:before {
					color: $pink;
					border-color: $pink;
				}
			}
			&:before {
				content: attr(data-value);
				width: 130px;
				padding: 12px 60px;
				font-size: 12px;
				line-height: 18px;
				color: $navy;
			}
			 button {
				margin: 0;
				flex-direction: column-reverse;
				flex: 1 0 auto;
				&:after {
					width: 65px;
					height: 65px;
				}
			}
		}
		&.slick-dots-container {
			&[data-value="0"] .active-dot,
			li:nth-child(1) {
			    top: 15%;
			    right: 87.5%;
			}
			&[data-value="3"] .active-dot,
			li:nth-child(4) {
			    top: 72%;
			}
			&[data-value="4"] .active-dot,
			li:nth-child(5) {
			    top: 73.5%;
			}
			&[data-value="5"] .active-dot,
			li:nth-child(6) {
			    top: 68%;
			}
			&[data-value="6"] .active-dot,
			li:nth-child(7) {
			    top: 57%;
			}
			&[data-value="7"] .active-dot,
			li:nth-child(8) {
			    top: 71%;
			    left: 92%;
			}
			&[data-value="8"] .active-dot,
			li:nth-child(9) {
			    top: 86.5%;
			}
			&[data-value="9"] .active-dot,
			li:nth-child(10) {
			    top: 13%;
			}
		}
		&.slick-dots-container li {
			&:nth-child(1) {
				@include pivot(315);
			}
			&:nth-child(2) {
				@include pivot(270);
			}
			&:nth-child(3) {
				@include pivot(225);
			}
			&:nth-child(4) {
				@include pivot(185);
			}
			&:nth-child(5) {
				@include pivot(180);
			}
			&:nth-child(6) {
				@include pivot(180);
			}
			&:nth-child(7) {
				@include pivot(0);
			}
			&:nth-child(8) {
				@include pivot(90);
			}
			&:nth-child(9) {
				@include pivot(235);
			}
			&:nth-child(10) {
				@include pivot(45);
			}
		}
	}
}
@media screen and (max-width: 786px) {
	.line {
		display: none;
	}
}
@media screen and (max-width: 480px) {
	.text {
		&--x-big {
			font-size: 28px;
			line-height: 36px;
		}
	}
	.slides {
		.text {
			&--big {
				font-size: 17px;
				line-height: 25px;
			}
			&--small {
				font-size: 12px;
				line-height: 17px;
			}
		}
	}
}