@import url("https://fonts.googleapis.com/css2?family=Muli:wght@300;400;800&display=swap");
/* Variables */
body,
html {
  margin: 0;
  overflow-x: hidden;
  text-align: center;
  font-family: "Muli", sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

body {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden; }

div {
  display: block; }

h1, h2, h3, h4, h5, p, ol, ul {
  margin-bottom: 0;
  /* Reset */
  margin-right: 0;
  margin-left: 0;
  margin-top: 0; }

button {
  -webkit-appearance: none;
  padding: 0; }

.container {
  width: 90%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding: 57px 0 162px; }

.desktop {
  display: none; }

.img-container {
  margin: 32px 0; }
  .img-container img {
    width: 100%;
    height: auto; }

p {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 28px; }

ul {
  margin-bottom: 28px; }

.bold {
  font-weight: 600; }

/* Text Sizes */
.text {
  /* Text Colors */ }
  .text--x-big {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 32px; }
  .text--big {
    font-size: 18px;
    line-height: 28px; }
  .text--small {
    font-size: 14px;
    line-height: 20px; }
  .text--dark-grey {
    color: #484748; }
  .text--light-grey {
    color: #939598; }
  .text--blue {
    color: #039BE5; }
  .text--pink {
    color: #FF4674; }
  .text--light-pink {
    color: #FF4674;
    opacity: .2; }

.header-area h1 {
  max-width: 875px;
  margin-left: auto;
  margin-right: auto; }

.copy-area {
  margin-bottom: 51px; }

/* Slick */
.slides {
  z-index: 999;
  overflow: hidden visible; }
  .slides .text--big {
    margin-bottom: 11px; }
  .slides .text--small {
    margin-bottom: 0; }

.slick-dots-container.mobile li {
  margin: 5px; }

.slick-dots {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  padding: 0;
  list-style: none;
  justify-content: center;
  align-items: center; }
  .slick-dots li button {
    height: 12px;
    width: 12px;
    border-radius: 12px;
    background-color: #FF4674;
    opacity: .2;
    color: transparent;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
    outline: none;
    transition: opacity .2s ease;
    z-index: 1; }
  .slick-dots li.slick-active button {
    opacity: 1; }

.slick-slide {
  position: relative;
  margin: 21px;
  padding: 0 10px;
  background-color: #fff;
  box-shadow: 0 0 20px #0000001F;
  /* Slide nav styles */ }
  .slick-slide > div {
    padding: 33px 0;
    height: 100%; }
    .slick-slide > div .box-container {
      height: 100%; }
      .slick-slide > div .box-container .text--small {
        padding: 0 10px;
        height: 67px;
        overflow: auto;
        /* Handle */ }
        .slick-slide > div .box-container .text--small::-webkit-scrollbar {
          -webkit-appearance: none; }
        .slick-slide > div .box-container .text--small::-webkit-scrollbar:vertical {
          width: 4px; }
        .slick-slide > div .box-container .text--small::-webkit-scrollbar:horizontal {
          height: 4px; }
        .slick-slide > div .box-container .text--small::-webkit-scrollbar-thumb {
          -webkit-border-radius: 10px !important;
          border-radius: 10px !important;
          background: #939598 !important; }
  .slick-slide .nav {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 12px;
    left: 0;
    padding: 0;
    height: 21px;
    width: 100%; }
    .slick-slide .nav #up, .slick-slide .nav #down {
      height: 21px;
      width: 21px;
      color: #939598;
      transform: rotate(90deg);
      cursor: pointer;
      transition: transform .2s ease; }
      .slick-slide .nav #up:hover, .slick-slide .nav #down:hover {
        transform: scale(1.2) rotate(90deg); }
      .slick-slide .nav #up:active, .slick-slide .nav #down:active {
        transform: scale(0.9) rotate(90deg); }

/* Hyperloop style */
/* Hyperloop parallax */
#hyperloop {
  max-width: 378px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 51px; }
  #hyperloop:active .parallax__layer--base {
    transform: rotate(2deg); }
  #hyperloop:active .parallax__layer--back {
    transform: rotate(-2deg); }
  #hyperloop .parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: transform .4s ease; }
    @media screen and (min-width: 768px) {
      #hyperloop .parallax__layer--base {
        transform: translateZ(0.025px) scale(0.975); }
      #hyperloop .parallax__layer--back {
        transform: translateZ(0.05px) scale(0.95); } }
  #hyperloop.slick-dots-container {
    position: relative; }
    #hyperloop.slick-dots-container ul {
      margin: 0; }
      #hyperloop.slick-dots-container ul li {
        position: absolute;
        height: 30px;
        width: 30px;
        max-width: 4vw;
        max-height: 4vw;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer; }
        #hyperloop.slick-dots-container ul li button {
          background-color: transparent;
          opacity: 1;
          position: relative;
          padding: 0;
          width: 100%;
          height: 100%; }
          #hyperloop.slick-dots-container ul li button:after {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            content: "";
            display: block;
            background-image: url(../images/web_heart_animation.png);
            opacity: 1;
            box-sizing: border-box;
            width: 35px;
            height: 40px;
            background-position: bottom left;
            background-repeat: no-repeat;
            background-size: 2900%;
            z-index: 999; }
        #hyperloop.slick-dots-container ul li.slick-active button:after {
          animation: heart-burst 0.8s steps(28) 1;
          animation-fill-mode: forwards; }
        #hyperloop.slick-dots-container ul li:hover {
          transition: none; }
          #hyperloop.slick-dots-container ul li:hover button:after {
            background-position: center right; }

/* Style for using traveling active dot */
.active-dot {
  position: absolute;
  height: 3vw;
  width: 3vw;
  z-index: 999;
  transition: all .2s ease; }
  .active-dot .active-dot--inner:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 21px;
    height: 21px;
    max-width: 6vw;
    max-height: 6vw;
    border-radius: 50%;
    box-shadow: 0 0 12px #0000001f;
    border: 2px solid #fff;
    background-color: #FF4674;
    box-sizing: border-box; }

/* Animations */
@keyframes heart-burst {
  from {
    background-position: left; }
  to {
    background-position: right; } }

/* Hyperloop dot positioning */
#hyperloop.slick-dots-container[data-value="0"] .active-dot,
#hyperloop.slick-dots-container li:nth-child(1) {
  top: 7%;
  right: 81.5%; }

#hyperloop.slick-dots-container[data-value="1"] .active-dot,
#hyperloop.slick-dots-container li:nth-child(2) {
  top: 38%;
  left: 7%; }

#hyperloop.slick-dots-container[data-value="2"] .active-dot,
#hyperloop.slick-dots-container li:nth-child(3) {
  top: 59%;
  left: 14.5%; }

#hyperloop.slick-dots-container[data-value="3"] .active-dot,
#hyperloop.slick-dots-container li:nth-child(4) {
  top: 70%;
  left: 26%; }

#hyperloop.slick-dots-container[data-value="4"] .active-dot,
#hyperloop.slick-dots-container li:nth-child(5) {
  top: 71.5%;
  left: 40%; }

#hyperloop.slick-dots-container[data-value="5"] .active-dot,
#hyperloop.slick-dots-container li:nth-child(6) {
  top: 66%;
  left: 53%; }

#hyperloop.slick-dots-container[data-value="6"] .active-dot,
#hyperloop.slick-dots-container li:nth-child(7) {
  top: 54%;
  left: 76%; }

#hyperloop.slick-dots-container[data-value="7"] .active-dot,
#hyperloop.slick-dots-container li:nth-child(8) {
  top: 65%;
  left: 90%; }

#hyperloop.slick-dots-container[data-value="8"] .active-dot,
#hyperloop.slick-dots-container li:nth-child(9) {
  top: 83.5%;
  left: 80%; }

#hyperloop.slick-dots-container[data-value="9"] .active-dot,
#hyperloop.slick-dots-container li:nth-child(10) {
  top: 11%;
  left: 37%; }

@media screen and (min-width: 540px) and (max-width: 900px) {
  #hyperloop.slick-dots-container ul li {
    width: auto;
    height: auto; }
  #hyperloop.slick-dots-container ul li button:after {
    width: 6vw;
    height: 6vw; }
  .active-dot {
    height: 3vw;
    width: 3vw; } }

@media screen and (min-width: 768px) {
  .container {
    padding-top: 91px; }
  .mobile {
    display: none; }
  .desktop {
    display: initial; }
  .header-area {
    margin-bottom: 110px; }
  .flexbox {
    display: flex;
    flex-direction: column-reverse; }
  p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 28px; }
  .copy-area p {
    font-size: 21px;
    line-height: 28px; }
  .text--x-big {
    font-size: 56px;
    line-height: 66px;
    margin-bottom: 52px; }
  .text--big {
    font-size: 20px;
    line-height: 25px; }
  .text--small {
    font-size: 16px;
    line-height: 22px; }
  .slides {
    margin-left: 100%;
    margin-bottom: -25%;
    transform: translateX(calc(-100% + 28px));
    width: 50%; }
    .slides .slick-slide .text--big {
      font-size: 18px;
      line-height: 28px; }
    .slides .slick-slide .text--small {
      margin-bottom: 0;
      z-index: 999; }
  #hyperloop {
    max-width: 850px;
    margin-left: 0;
    margin-top: 51px; }
    #hyperloop .active-dot {
      width: 30px;
      height: 30px; }
      #hyperloop .active-dot--inner:after {
        height: 30px;
        width: 30px;
        border-width: 3px; }
    #hyperloop.slick-dots-container ul li {
      flex-direction: column;
      justify-content: flex-end; }
      #hyperloop.slick-dots-container ul li .line {
        height: 60px;
        width: 50%;
        margin-right: 50%;
        border-right: 1px dashed #2A4870;
        flex: 1 0 auto; }
      #hyperloop.slick-dots-container ul li:hover .line, #hyperloop.slick-dots-container ul li:hover:before, #hyperloop.slick-dots-container ul li.slick-active .line, #hyperloop.slick-dots-container ul li.slick-active:before {
        color: #FF4674;
        border-color: #FF4674; }
      #hyperloop.slick-dots-container ul li:before {
        content: attr(data-value);
        width: 130px;
        padding: 12px 60px;
        font-size: 12px;
        line-height: 18px;
        color: #2A4870; }
      #hyperloop.slick-dots-container ul li button {
        margin: 0;
        flex-direction: column-reverse;
        flex: 1 0 auto; }
        #hyperloop.slick-dots-container ul li button:after {
          width: 65px;
          height: 65px; }
    #hyperloop.slick-dots-container[data-value="0"] .active-dot,
    #hyperloop.slick-dots-container li:nth-child(1) {
      top: 15%;
      right: 87.5%; }
    #hyperloop.slick-dots-container[data-value="3"] .active-dot,
    #hyperloop.slick-dots-container li:nth-child(4) {
      top: 72%; }
    #hyperloop.slick-dots-container[data-value="4"] .active-dot,
    #hyperloop.slick-dots-container li:nth-child(5) {
      top: 73.5%; }
    #hyperloop.slick-dots-container[data-value="5"] .active-dot,
    #hyperloop.slick-dots-container li:nth-child(6) {
      top: 68%; }
    #hyperloop.slick-dots-container[data-value="6"] .active-dot,
    #hyperloop.slick-dots-container li:nth-child(7) {
      top: 57%; }
    #hyperloop.slick-dots-container[data-value="7"] .active-dot,
    #hyperloop.slick-dots-container li:nth-child(8) {
      top: 71%;
      left: 92%; }
    #hyperloop.slick-dots-container[data-value="8"] .active-dot,
    #hyperloop.slick-dots-container li:nth-child(9) {
      top: 86.5%; }
    #hyperloop.slick-dots-container[data-value="9"] .active-dot,
    #hyperloop.slick-dots-container li:nth-child(10) {
      top: 13%; }
    #hyperloop.slick-dots-container li:nth-child(1) {
      transform: rotate(315deg); }
    #hyperloop.slick-dots-container li:nth-child(1):before {
      transform: rotate(-315deg); }
    #hyperloop.slick-dots-container li:nth-child(2) {
      transform: rotate(270deg); }
    #hyperloop.slick-dots-container li:nth-child(2):before {
      transform: rotate(-270deg);
      padding-left: 0; }
    #hyperloop.slick-dots-container li:nth-child(3) {
      transform: rotate(225deg); }
    #hyperloop.slick-dots-container li:nth-child(3):before {
      transform: rotate(-225deg); }
    #hyperloop.slick-dots-container li:nth-child(4) {
      transform: rotate(185deg); }
    #hyperloop.slick-dots-container li:nth-child(4):before {
      transform: rotate(-185deg); }
    #hyperloop.slick-dots-container li:nth-child(5) {
      transform: rotate(180deg); }
    #hyperloop.slick-dots-container li:nth-child(5):before {
      transform: rotate(-180deg); }
    #hyperloop.slick-dots-container li:nth-child(6) {
      transform: rotate(180deg); }
    #hyperloop.slick-dots-container li:nth-child(6):before {
      transform: rotate(-180deg); }
    #hyperloop.slick-dots-container li:nth-child(7) {
      transform: rotate(0deg); }
    #hyperloop.slick-dots-container li:nth-child(7):before {
      transform: rotate(0deg); }
    #hyperloop.slick-dots-container li:nth-child(8) {
      transform: rotate(90deg); }
    #hyperloop.slick-dots-container li:nth-child(8):before {
      transform: rotate(-90deg);
      padding-right: 0; }
    #hyperloop.slick-dots-container li:nth-child(9) {
      transform: rotate(235deg); }
    #hyperloop.slick-dots-container li:nth-child(9):before {
      transform: rotate(-235deg); }
    #hyperloop.slick-dots-container li:nth-child(10) {
      transform: rotate(45deg); }
    #hyperloop.slick-dots-container li:nth-child(10):before {
      transform: rotate(-45deg); } }

@media screen and (max-width: 786px) {
  .line {
    display: none; } }

@media screen and (max-width: 480px) {
  .text--x-big {
    font-size: 28px;
    line-height: 36px; }
  .slides .text--big {
    font-size: 17px;
    line-height: 25px; }
  .slides .text--small {
    font-size: 12px;
    line-height: 17px; } }
