<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Hyperloop | SV</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="Hyperloop">
  <meta name="author" content="ideometry">
  <link rel="stylesheet" href="assets/hyperloop.css">
  <link rel="stylesheet" href="assets/slick.css">
</head>

<body>
	<div class="container">
		{{ content }}
	</div>

    <script
	  src="https://code.jquery.com/jquery-3.5.1.min.js"
	  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
	  crossorigin="anonymous"></script>
	<script
	  src="https://code.jquery.com/jquery-migrate-3.3.0.min.js"
	  integrity="sha256-wZ3vNXakH9k4P00fNGAlbN0PkpKSyhRa76IFy4V1PYE="
	  crossorigin="anonymous"></script>
	<script type="text/javascript" src="assets/slick.min.js"></script>
	<script src="assets/scroll.js"></script>
	<script src="assets/hyperloop.js"></script>

</body>
</html>
